html,
body {
    height: 100%;
    font-family: "Open Sans", sans-serif;
    color: lightpink;
}

h1 {
    font-size: 60px;
    color: rgb(247, 247, 185);
}

h2 {
    font-size: 25px;
}

p{
    font-size: 13px;
    color: grey;
    line-height: 2;
}

img [
    max-width: 100%;
]